* {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

a {
    font-family: 'Fira Sans', sans-serif;
}

html, body {
    height: 100%;
}

body.dark-mode {
    background-color: #111;
    color: #fff;
}

/* Add more CSS rules for dark mode styles */
  

/* Set styles for the student homepage */
.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 1rem;
    background-color: #e9ecef !important;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.jumbotron.dark-mode {
    background-color: #1f1f1f !important;
}

.welcome-title-text {
    font-size: 4vw;
}

.welcome-text {
    font-size: 2vw;
}

.role-btn-group {
    background-color: #f8f9fa;
    color: #212529;
    max-width: 500px;
    animation: jumbotronFadeIn ease-in 0.3s;
}

/* Container background styles for index, forgot and reset password pages */
.container-bg {
    animation: jumbotronFadeIn ease-in 0.3s;
}

.pass-reset-container {
    max-width: 50vw;
}

.login-card {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Set the style for the table's sorting link */
.sortable-header {
    cursor: pointer;
}

.asc {
    content: '\25B2';
    border-bottom: 5px solid;
}

.desc{
    content: '\25BC';
    border-top: 5px solid;
}

/* Color scheme styling on buttons */
.btn-student {
    background-color: rgb(255, 63, 63);
    color: #fff;
}

.btn-student:hover {
    background-color: rgb(197, 50, 50);
    color: #fff;
}

.btn-client {
    background-color: rgb(49, 97, 255);
    color: #fff;
}

.btn-client:hover {
    background-color: rgb(40, 79, 207);
    color: #fff;
}

.btn-admin {
    background-color: rgb(29, 189, 29);
    color: #fff;
}

.btn-admin:hover {
    background-color: rgb(23, 143, 23);
    color: #fff;
}

.bg-maroon {
    background-color: #800000;
}

.bg-maroon.dark-mode {
    background-color: #270000;
}

.btn-primary {
    background-color: #800000;
    border: 1px solid #800000;
}

.btn-primary.dark-mode {
    background-color: #270000;
    border: 1px solid #aaa;
}

.btn-primary:hover {
    background-color: #520000;
    border: 1px solid #520000;
}

.btn-primary.dark-mode:hover {
    background-color: #520000;
    border: 1px solid #aaa;
}

.btn:active {
    background-color: #520000 !important;
    border: #520000 1px solid !important;
}

.btn-outline-primary {
    color: #800000;
    border-color: #800000;
}

.btn-outline-primary:focus-within {
    background-color: #800000;
    color: #fff;
    border-color: #800000;
}

.btn-outline-primary.dark-mode {
    color: #aaa;
    border-color: #aaa;
}

.btn-outline-primary:hover {
    border-color: #520000;
    background-color: #520000;
}

.btn-outline-primary.dark-mode:hover {
    color: #fff;
    border-color: #aaa;
    background-color: #520000;
}

.btn-primary:disabled {
    color: #757575;
    border-color: #757575;
    background-color: #bbbbbb;
}

.search-btn {
    background-color: #DAA520;
}

.search-btn:hover {
    background-color: #af8519;
}

.search-btn:active {
    color: #fff !important;
    background-color: #af8519 !important;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 99999999999;
}

.dropdown-item.dark-mode {
    color: #fff;
}

.dropdown-item.dark-mode:hover {
    background-color: #111111;
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item.dark-mode.active, .dropdown-item.dark-mode:active {
    background-color: #520000;
}  

.container-fluid {
    position: relative;
}

.academicbanner {
    background-image: url("assets/academicoffice.jpeg");
}

.guidancebanner {
    background-image: url("assets/bg2.jpg")
}

.registrarbanner {
    background-image: url("assets/registrar.jpg")
}

.accountingbanner {
    background-image: url("assets/accounting_bg.png");
}

.header {
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.header-text {
    z-index: 1;
}

.header-btn {
    z-index: 1;
}

/* Start of custom breadcrumb styling
Breadcrumb is a bootstrap component that shows the location of the user on the website. */
.breadcrumb-nav {
    z-index: 1;
    position: absolute;
    left: 8px;
    top: 16px;
}

.breadcrumb-container .breadcrumb-item + .breadcrumb-item::before {
    color: inherit;
    font-weight: 100;
    content: "/";
}

.breadcrumb-link {
    text-decoration: none;
    transition: 0.2s ease-in-out;
    padding: 5px 8px;
    border-radius: 5px;
}

.breadcrumb-link:hover {
    background-color: #520000;
    color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.breadcrumb .active {
    padding: 0.3px 8px;
    font-weight: 800;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: none;
}

.breadcrumb-separator {
    margin: 0 0.75rem;
}

/* End of custom breadcrumb styling */

/* Different select option colors of statuses for admin pages */
.form-select {
    background-color: white;
    transition: background-color 0.3s;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.form-group.required .form-label:after {
    content:" *";
    color:red;
  }

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.footer a {
    font-size: 12px;
}

/* Different background banners for office pages */
.academicbanner {
    background-image: url("assets/academicoffice.jpeg");
}

.guidancebanner {
    background-image: url("assets/bg9.jpeg");
}

.administrative-header {
    background-image: url("assets/background-img/pup-bg.png");
}

.search-result {
    background-color: #f5dcdc;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search-result:hover a {
    background-color: #800000;
    color: white;
    border-radius: 5px;
}

.search-result a {
    text-decoration: none;
    color: #555;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 5px;
}

.search-result .card-title {
    font-weight: normal;
}

.search-result .card-header {
    font-style: oblique;
    border: none;
}

/* Fixes the overflowing bug on the search result page */
.page-heading {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.autocomplete-list {
    position: absolute;
    top: 48px;
    left: 57vw;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

a {
    text-decoration: none;
}

.autocomplete-item {
    color: #000;
    padding: 10px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a .autocomplete-item:hover {
    background-color: #520000;
    color: #fff;
}

/* Validation errors for sign up modal */
.text-danger {
    margin-top: 5px;
    font-size: 12px;
}

.text-success {
    margin-top: 5px;
    font-size: 12px;
}

/* Overwrite default style of accordions on the Help page */
.accordion {
    --bs-accordion-btn-color: #000;
	--bs-accordion-btn-bg: #f5dcdc;
	--bs-accordion-active-color: #fff;
	--bs-accordion-active-bg: #520000;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion.dark-mode {
    --bs-accordion-btn-color: #fff;
	--bs-accordion-btn-bg: #212121;
	--bs-accordion-active-color: #fff;
	--bs-accordion-active-bg: #520000;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
    background-color: #fff;
    color: #000;
}

.accordion-body.dark-mode {
    background-color: #2e2525;
    color: #fff;
}

/* Style pagination buttons on Transactions page */
.page-link {
    text-align: center;
    width: 40px;
}

.page-link:hover {
    color: white;
}

/* Loading indicator styles on Transactions page */
#loading-indicator {
    display: none;
    text-align: center;
    padding: 150px 0;
}

#loading-indicator::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #d49797;
    border-top-color: #520000;
    animation: spin 1s infinite linear;
    margin-left: 5px;
    vertical-align: middle;
}

/* Loading screen styles for the website */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #111;
    z-index: 9999;
}

#loader.dark-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #fff;
    z-index: 9999;
}
  
.loading-text {
    color: #111;
    font-size: 18px;
    margin-bottom: 20px;
}

.loading-text.dark-mode {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.loading-spinner {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #520000;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.fade-out {
    /* Apply fade-out animation by setting opacity to 0 */
    opacity: 0;
}

#passwordChecklist {
    margin-top: 5px;
}

#passwordChecklist li {
    list-style: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

/* Form field animation when they appear and disappear on the page */
.fade-in {
    animation: fadeIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fade-out {
    animation: fadeOut 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Change Profile Picture div styles on Account Settings */
.avatar-wrapper {
    position: relative;
    width: 250px; /* Desired width */
    height: 250px; /* Desired height */
    overflow: hidden;
    border-radius: 10%; /* For circular avatar */
}

.avatar-overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
    z-index: 1; /* Ensure overlay is above the image */
}

.avatar-wrapper:hover .avatar-overlay {
    opacity: 1;
}

.avatar-rounded-square {
    width: 41px;
    height: 41px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0;
}

.nav-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#userProfileDropdown::after {
    content: none;
}

.overlay-text {
    margin-bottom: 1rem;
}

.upload-label {
    cursor: pointer;
}

.avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.notification-menu {
    position: absolute;
    left: -275px !important;
    top: 45px !important;
    min-width: 400px;
    background-color: #fff !important;
}

.notification-button::after {
    content: none;
}

#userProfileDropdownMenu {
    min-width: 300px;
}

.payment-summary {
    max-width: 700px;
}

/* Custom styles for "Next" and "Previous" buttons */
.custom-nav-button {
    width: 120px;
}

/* Style the status dropdowns in Academic Admin */
select.status-dropdown {
    max-width: 150px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
}

.btn-password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 5px;
}

/* Transition effect on log-in containers when the page loads */
.jumbotron-bg {
    animation: jumbotronFadeIn 0.3s ease-in-out;
}

@keyframes jumbotronFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 992px) {
    .welcome-title-text {
        font-size: 2.3rem;
        margin-top: 200px;
    }
    
    .welcome-text {
        font-size: 1rem;
        margin-bottom: 100px;
    }

    .role-btn-group {
        background-color: rgba(0, 0, 0, 0);
        color: #f8f9fa;
        max-width: 100%;
    }

    .pass-reset-container {
        max-width: 100%;
    }

    .autocomplete-list {
        position: static;
        margin-top: 10px;
        box-shadow: none;
    }
}

@media only screen and (max-width: 768px) {
    .login-card {
        width: 100%;
    }

    table {
        /* table-layout: fixed; */
        word-wrap: break-word;
    }

    .jumbotron {
        /* align-items: end; */
        padding-top: 100px;
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (max-width: 320px) {
    .jumbotron {
        height: auto;
    }
}
