* {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

a {
    font-family: 'Fira Sans', sans-serif;
}

html, body {
    height: 100%;
}

/* Set styles for the student homepage */
.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

.login-card {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Set the style for the table's sorting link */
.sortable-header {
    cursor: pointer;
}

.sort-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 0.75rem;
    vertical-align: middle;
}

.asc {
    content: '\25B2';
    border-bottom: 5px solid;
}

.desc{
    content: '\25BC';
    border-top: 5px solid;
}

/* Color scheme styling on buttons */
.btn-student {
    background-color: rgb(255, 63, 63);
    color: #fff;
}

.btn-student:hover {
    background-color: rgb(197, 50, 50);
    color: #fff;
}

.btn-client {
    background-color: rgb(49, 97, 255);
    color: #fff;
}

.btn-client:hover {
    background-color: rgb(40, 79, 207);
    color: #fff;
}

.btn-admin {
    background-color: rgb(29, 189, 29);
    color: #fff;
}

.btn-admin:hover {
    background-color: rgb(23, 143, 23);
    color: #fff;
}

.bg-maroon {
    background-color: #800000;
}

.btn-primary {
    background-color: #800000;
    border: 1px solid #800000;
}

.btn-primary:hover {
    background-color: #520000;
    border: 1px solid #520000;
}

.btn:active {
    background-color: #520000 !important;
    border: #520000 1px solid !important;
}

.btn-outline-primary {
    color: #800000;
    border-color: #800000;
}

.btn-outline-primary:hover {
    border-color: #520000;
    background-color: #520000;
}

.btn-primary:disabled {
    background-color: #bbbbbb;
}

.search-btn {
    background-color: #DAA520;
}

.search-btn:hover {
    background-color: #af8519;
}

.search-btn:active {
    color: #fff !important;
    background-color: #af8519 !important;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #520000;
}  

.container-fluid {
    position: relative;
}

.academicbanner {
    background-image: url("assets/academicoffice.jpeg");
}

.guidancebanner {
    background-image: url("assets/bg2.jpg")
}

.registrarbanner {
    background-image: url("assets/registrar.jpg")
}

.accountingbanner {
    background-image: url("assets/accounting_bg.png");
}

.header {
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.header-text {
    z-index: 1;
}

.header-btn {
    z-index: 1;
}

/* Start of custom breadcrumb styling
Breadcrumb is a bootstrap component that shows the location of the user on the website. */
.breadcrumb-nav {
    z-index: 1;
    position: absolute;
    left: 8px;
    top: 16px;
}

.breadcrumb-container .breadcrumb-item + .breadcrumb-item::before {
    color: inherit;
    font-weight: 100;
    content: "/";
}

.breadcrumb-item a {
    text-decoration: none;
    transition: 0.2s ease-in-out;
    padding: 5px 8px;
    border-radius: 5px;
}

.breadcrumb-item a:hover {
    background-color: #520000;
    color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.breadcrumb .active {
    font-weight: 800;
}
/* End of custom breadcrumb styling */

/* Different select option colors of statuses for admin pages */
.form-select {
    background-color: white;
    transition: background-color 0.3s;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.form-group.required .form-label:after {
    content:" *";
    color:red;
  }

.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.footer a {
    font-size: 12px;
}

/* Different background banners for office pages */
.academicbanner {
    background-image: url("assets/academicoffice.jpeg");
}

.guidancebanner {
    background-image: url("assets/bg9.jpeg");
}

.administrative-header {
    background-image: url("assets/background-img/pup-bg.png");
}

.search-result {
    background-color: #f5dcdc;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search-result:hover a {
    background-color: #800000;
    color: white;
    border-radius: 5px;
}

.search-result a {
    text-decoration: none;
    color: #555;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 5px;
}

.search-result .card-title {
    font-weight: normal;
}

.search-result .card-header {
    font-style: oblique;
    border: none;
}

/* Fixes the overflowing bug on the search result page */
.page-heading {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.autocomplete-list {
    position: absolute;
    top: 48px;
    left: 57vw;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

a {
    text-decoration: none;
}

.autocomplete-item {
    color: #000;
    padding: 10px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a .autocomplete-item:hover {
    background-color: #520000;
    color: #fff;
}

/* Validation errors for sign up modal */
.text-danger {
    margin-top: 5px;
    font-size: 12px;
}

@media only screen and (max-width: 992px) {
    .autocomplete-list {
        position: static;
        margin-top: 10px;
        box-shadow: none;
    }
}

@media only screen and (max-width: 768px) {
    .login-card {
        width: 100%;
    }

    table {
        table-layout: fixed;
        word-wrap: break-word;
    }

    .jumbotron {
        width: 100vw;
        margin: 0;
        padding: 120px 0 0 0;
        height: 100vh;
    }
}

@media only screen and (max-width: 320px) {
    .jumbotron {
        height: auto;
    }
}
