* {
    font-family: "Fira Sans";
    src: url("/assets/fonts/FiraSans/FiraSans-Regular.ttf") format("truetype");
}

body {
    font-family: "Fira Sans";
}


.card {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bg-maroon {
    background-color: #800000;
}

.btn-maroon:hover {
    background-color: #520000;
}

.header {
    background-image: url("assets/background-img/pup-bg.png");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}



.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.header-text {
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}