.content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.custom-d-flex{
    display: flex;
}
@media only screen and (max-width: 1024px) {
    .custom-d-flex{
        display: block;
    }
    .alert{
        margin-top: 20px;
    }
  }