.login-card {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Color scheme styling on buttons */
.btn-student {
    background-color: rgb(255, 63, 63);
    color: #fff;
}

.btn-student:hover {
    background-color: rgb(197, 50, 50);
    color: #fff;
}

.btn-client {
    background-color: rgb(49, 97, 255);
    color: #fff;
}

.btn-client:hover {
    background-color: rgb(40, 79, 207);
    color: #fff;
}

.btn-admin {
    background-color: rgb(29, 189, 29);
    color: #fff;
}

.btn-admin:hover {
    background-color: rgb(23, 143, 23);
    color: #fff;
}

.bg-maroon {
    background-color: #800000;
}

.btn-primary {
    background-color: #800000;
    border: none;
}

.btn-primary:hover {
    background-color: #520000;
}

.btn-outline-primary {
    color: #800000;
    border-color: #800000;
}

.btn-outline-primary:hover {
    border-color: #520000;
    background-color: #520000;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #520000;
}  

.container-fluid {
    position: relative;
}

.header {
    background-image: url("assets/bg2.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.header-text {
    z-index: 1;
}

/* Start of custom breadcrumb styling
Breadcrumb is a bootstrap component that shows the location of the user on the website. */
.breadcrumb-nav {
    z-index: 1;
    position: absolute;
    left: 24px;
    top: 18px;
}

.breadcrumb-container .breadcrumb-item + .breadcrumb-item::before {
    font-weight: 100;
    color: #fff;
    content: "/";
}

.breadcrumb-container .breadcrumb-item a {
    color: #fff;
}

.breadcrumb-item a {
    color: #000;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    padding: 5px 8px;
    border-radius: 5px;
}

.breadcrumb-item a:hover {
    background-color: #520000;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.breadcrumb-container .breadcrumb .active {
    color: #fff;
}

.breadcrumb .active {
    font-weight: 800;
}
/* End of custom breadcrumb styling */

.footer {
    height: 100px;
}



/*content*/
  .container-fluid-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
  }
  
  .container-fluid-form h1,
  .container-fluid-form h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .next-button {
    /*display: block;*/
    width: 220px;
    padding: 10px 20px;
    background-color: #800000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    float: center;
  }
  
  .payment-summary {
    margin-top: 90px;
    text-align: left;
    background-color: #f5f5f5;
    /*padding: 20px;*/
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 1300px; /* Adjust the maximum width as per your preference */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
}

.payment-summary h2 {
    text-align: center;
}

/* Adjustments for Left Section */
.red-section img {
    width: 45%;
    margin-top: -40px;
}

#payment-summary .col-md-8 {
    margin-top: -8px;
}

#payment-summary .col-md-4 {
    padding-left: -20;
    margin-left: 0;
    margin-top: -4px;
    background-color: #800000;
    color: #fff;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    /* Make sure the height matches the parent container if needed */
    height: 100%;
}

/* Ensure the container of the .red-section has no additional padding or margin */
#payment-summary .red-section {
    margin: 0;
    padding: 0;
    /* Adjust padding inside .red-section if necessary */
    padding: 20px;
}

/* Optional: if you have a bootstrap container or row affecting the layout */
.container-fluid, .row {
    padding-left: 0;
    margin-left: 0;
}

#payment-summary .col-md-8 h2 {
    text-align: center; /* Centers the text horizontally */
    color: #800000;
}

  /*end of content*/
@media only screen and (max-width: 768px) {
    .login-card {
        width: 100%;
    }
}